.folder
  %h2= "Folder: #{@folder_name}"
  .cards
    %ul
      - @cards.each do |card|
        %li= link_to card
    = semantic_form_for Card.new do |f|
      = f.semantic_errors
      = f.inputs do
        = f.input :name, :hint => "Enter a summary of the card"
        = f.input :description, :hint => "Enter a freeform description.  Feel free to use markdown."
      = f.buttons do
        = f.commit_button :button_html => { class: 'primary' }

