<!DOCTYPE html>
<html>
  <head>
    <title>Tickler</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <%= link_to 'Tickler', root_path, :class => 'brand' %>
          <%= tabs %>
        </div>
      </div>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
